#sidebar {
    float:right;   
    width: 300px;
}

#content-highlight img {
    height:200px;
    width:850px;
}

.container {width:850px;margin:0px 0px 0px 50px;}
.narrowcolumn {width:850px;margin:0px 0px 0px 50px;}

.fsField {
    width:100px;    
}
